<!doctype html>
<html lang="es" class="<%= page_classes %>">
<%= partial 'layouts/head' %>
<body>

<div class="content  one-whole  desk-three-quarters">

  <%= partial 'layouts/header' %>

  <section class="page-body" >
    <%= yield %>
  </section>

  <%= partial 'layouts/footer' %>
</div>

<%= partial 'layouts/foot' %>
</body>
</html>
