<!doctype html>
<html class="<%= page_classes %>">
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

  <title><%= current_page.data.title || "SIN TÍTULO!!" %></title>

  <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
  <%= google_font 'Nunito:400,700','css' %>

  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'swfobject/swfobject.js' %>

  <link rel="shortcut icon" href="/icon.png">
  <link rel="apple-touch-icon-precomposed" href="/icon.png">
  <meta name="apple-mobile-web-app-title" content="estadologico">
  <meta name="description" content="<%= current_page.data.title || "Estado Lógico - Diseño de páginas Web de alta calidad a bajo precio. Diseño Web, Diseño Gráfico, Desarollo de tiendas On-Line. Granada, Andalucía" %>">

</head>
<body>

<div class="content">

  <header class="page--header">
    <h1><%= link_to 'Estado Lógico', '/' %></h1>
    <h2>Diseño web y programación</h2>
  </header>


  <section class="page-body" >
    <%= yield %>
  </section>


  <footer class="page-footer">

    <nav>
      <ul>
        <li><%= link_to 'Portafolio', 'portafolio.html' %></li>
        <li><%= link_to 'Juegos', 'juegos.html' %></li>
        <li><%= link_to 'Contacto', 'contacto.html' %></li>
      </ul>
    </nav>

    <p class="page-copy">&copy; Desde 2001 hasta hoy ;-)</p>

  </footer>


</div>
</body>
</html>
