---
title: Juegos
---

<div class="grid  grid--full"><!--

--><div class="grid__item  visuallyhidden--palm  lap-one-quarter  desk-one-quarter  desk-wide-one-quarter">
  <%= image_tag 'sonic.jpg', :alt => 'Juegos Flash' %>
</div><!--

--><div class="grid__item  palm-one-whole  lap-two-quarters  desk-two-quarters  desk-wide-two-quarters">
  <div class="block--padding"><h2 class="page-title">Juegos</h2>
    <p>Estos son algunos viejos ejemplos de juegos hechos con <strong>Flash</strong>, desde las primeras versiones del
      programa, allá por el año <strong>1998</strong>.</p>

    <p>¡Disfrútenlos!</p></div>
</div><!--

--><div class="grid__item  palm-one-whole  lap-one-quarter  desk-one-quarter  desk-wide-one-quarter">

  <div class="block--padding">

  <h2 class="page-title visuallyhidden--palm">&nbsp;</h2>

    <ul class="list-games">
    <li><%= link_to 'Newton', '/juegos/newton.html' %></li>
    <li><%= link_to 'Perfect Plato', '/juegos/perfect-plato.html' %></li>
    <li><%= link_to 'Columna', '/juegos/columna.html' %></li>
    <li><%= link_to 'Tennis', '/juegos/tennis.html' %></li>
    <li><%= link_to 'Ping Pong', '/juegos/ping-pong.html' %></li>
    <li><%= link_to 'R-Type Contribute', '/juegos/r-type.html' %></li>
    <li><%= link_to 'Tiro al Plato', '/juegos/tiro-al-plato.html' %></li>
    <li><%= link_to 'Blue Space', '/juegos/blue-space.html' %></li>
    </ul>

    <p><%= link_to 'Ir al inicio', '/' %></p>
  </div>
</div><!--

--></div>
