---
title: Juegos
---

<div id="sonic">
  <%= image_tag 'sonic.jpg', :alt => ' Juegos Flash' %>
</div>

<div id="juegos-lista">
    <ul>
        <li><%= link_to 'Newton', '/juegos/newton.html' %></li>
        <li><%= link_to 'Perfect Plato', '/juegos/perfect-plato.html' %></li>
        <li><%= link_to 'Columna', '/juegos/columna.html' %></li>
        <li><%= link_to 'Tennis', '/juegos/tennis.html' %></li>
        <li><%= link_to 'Ping Pong', '/juegos/ping-pong.html' %></li>
        <li><%= link_to 'R-Type Contribute', '/juegos/r-type.html' %></li>
        <li><%= link_to 'Tiro al Plato', '/juegos/tiro-al-plato.html' %></li>
        <li><%= link_to 'Blue Space', '/juegos/blue-space.html' %></li>
    </ul>
</div>

<div id="juegos-texto">
    <h1 class="titulo">Juegos flash</h1>

    <p>Estos son algunos viejos ejemplos de juegos hecho con <strong>Flash</strong>, desde las primeras versiones del programa, allá por el año <strong>1998</strong>.</p>

    <p>En su mayoría son aplicaciones incompletas, proyectos que llegaron a mínimo objetivo que se pretendía y, por falta de tiempo, quedaron así...</p>

    <p>¡Disfrútenlos!</p>
</div>
