---
title: Portafolio
---

<div class="portfolio">
  <div class="grid  grid--full"><!--

    --><%= partial 'layouts/_portfolio_item', :locals => {
              :title        => 'La Red Social',
              :url          => 'http://www.laredsocial.org/',
              :image        => 'webs/laredsocial.jpg',
              :description  => 'Ayuda y tutoriales en video sobre redes sociales, Facebook, Tuenti, MySpace, Windows Live, ...'} %><!--

    --><%= partial 'layouts/_portfolio_item', :locals => {
              :title        => 'Formas Formación',
              :url          => 'http://www.formasformacion.com/',
              :image        => 'webs/formasformacion.jpg',
              :description  => 'Formación presencial y distancia. Prácticas en Centros Concertados y Bolsa de Trabajo Activa.'} %><!--

    --><%= partial 'layouts/_portfolio_item', :locals => {
              :title        => 'Una Vez Fuí',
              :url          => 'http://www.unavezfui.com/',
              :image        => 'webs/unavezfui.jpg',
              :description  => 'Ayuda, videos y noticias sobre cosicas modernas de internet.'} %><!--

    --><%= partial 'layouts/_portfolio_item', :locals => {
              :title        => 'Fernsehschoner Project',
              :url          => 'http://www.fernsehschoner.de/',
              :image        => 'webs/fersehschoner.jpg',
              :description  => 'Sitio Flash  para <strong>Gregor Kuschmir, </strong><em>media-artist</em> de la  empresa de creativos <a href="http://www.fabrica.it/" target="_blank">La Fábrica</a>.'} %><!--

    --><%= partial 'layouts/_portfolio_item', :locals => {
              :title        => 'Trade Punk',
              :url          => 'http://www.tradepunk.com/',
              :image        => 'webs/tradepunk.jpg',
              :description  => 'Web oficial del grupo  Trade Punk. Granada.'} %><!--

    --></div>
</div>